# compiled output
dist/
release/
coverage/

# dependencies
node_modules/

# IDEs and editors
.idea/
.c9/
.settings/
.project
.classpath
*.launch
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
npm-debug.log
package-lock.json

# system files
.DS_Store
Thumbs.db
